{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <h1><strong><i class="fas fa-bell"></i> Alert</strong> <small>dla: "{{ alert.item.name }}"</small></h1>
    <hr class="my-4">
    <p><strong><i class="fas fa-hand-holding-usd"></i> Aktualna cena: </strong>{{ alert.item.price }}</p>
    <p><strong><i class="fas fa-calendar-times"></i> Kiedy sprawdzone:</strong> {{ alert.last_checked.strftime("%d-%m-%Y, godzina %H:%M") }}</p>
    <a class="btn btn-outline-primary" href="{{ alert.item.url }}" role="button"><i class="fas fa-shopping-basket"></i> Strona przedmiotu</a>
    <a class="btn btn-outline-success" href="{{ url_for('alerts.check_alert_price', alert_id=alert._id) }}" role="button"><i class="fas fa-chart-line"></i> Sprawdź cenę</a>
    {% if alert.active %}
    <a class="btn btn-outline-secondary" href="{{ url_for('alerts.deactivate_alert', alert_id=alert._id) }}" role="button"><i class="fas fa-times-circle"></i> Dezaktywuj alert</a>
    {% else %}
    <a class="btn btn-outline-dark" href="{{ url_for('alerts.activate_alert', alert_id=alert._id) }}" role="button"><i class="fas fa-check-square"></i> Aktywuj alert</a>
    <a class="btn btn-outline-danger" href="{{ url_for('alerts.delete_alert', alert_id=alert._id) }}" role="button"><i class="fas fa-trash-alt"></i> Usuń alert</a>
    {% endif %}
</div>

{% endblock %}