{% extends "base.html" %}
{% block content %}
<div class="pb-2 mt-4 mb-2 border-bottom">
    <h1>Lista sklepów</h1><p>Tutaj znajdziesz listę dostępnych sklepów.</p>
</div>
    <div class="list-group">
        {% for store in stores %}
            <a href="{{ url_for('stores.store_page', store_id=store._id) }}" class="list-group-item list-group-item-action">
                <h4 class="list-group-item-heading"><strong><i class="fas fa-shopping-cart"></i> Nazwa sklepu:</strong> "{{ store.name }}"</h4><br/>
                <p class="list-group-item-text"><strong>Opis:</strong><p>Wszystkie URL tej strony powinny rozpoczynać się na: {{ store.url_prefix }} </p>
            </a>
        {% endfor %}
    </div>
    <br/>
    {% if session['email'] in config.ADMINS %}
    <a class="btn btn-primary" href="{{ url_for('stores.create_store') }}"><i class="fas fa-cart-plus"></i> Utwórz nowy sklep</a>
    {% endif %}
{% endblock %}